UndervisningPersistens/UndervisningPersistens/ProgramData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RunningProgramStatistics">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="RunCount" type="xs:unsignedByte" />
        <xs:element name="Runs">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Run">
                <xs:complexType>
                  <xs:attribute name="Timestamp" type="xs:dateTime" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>